<ng-container [formGroup]="FormGropText">

  <ng-container *ngFor="let ch of FormGropText?.get(FromControlNameText)?.value;let chIndex=index">
    <div class="form-check">
      <input [class]="styleText" type="checkbox" [checked]="ch[selectProp]"
        (focus)="getElemtentTouched(FormGropText,FromControlNameText,chIndex,touchedProp)"
        (change)="selectCheckBox(FormGropText,FromControlNameText,chIndex,selectProp,touchedProp);" />
      <label class="form-check-label">{{ch[valProp]}}</label>
    </div>
  </ng-container>

  <ng-container *ngIf="this.touchedValidity">
    <ng-container *ngIf="this.inputValidity">
      <div class="invalid-feedback">
        {{errName}}
      </div>
    </ng-container>
  </ng-container>


  <ng-container *ngIf="this.getCheckboxSomeValidation(FormGropText.get(FromControlNameText)?.value)">
    <div class="valid-feedback">
      appropriate
    </div>
  </ng-container>
</ng-container>