<ng-container [formGroup]="FormGropText">
   
    <ng-container *ngFor="let ch of FormGropText?.get(FromControlNameText)?.value;let chIndex=index" >
        <div class="form-check">
        <input [class]="styleText" type="checkbox" [checked]="ch[selectProp]"  (change)="selectCheckBox(FormGropText,FromControlNameText,chIndex)"/>
        {{ch[valProp]}}
    </div>
    </ng-container>


    <ng-container *ngIf="!inputValidity">
        <div class="valid-feedback">
          appropriate
        </div>
      </ng-container>
    
      <ng-container *ngIf="inputValidity">
        <div class="invalid-feedback">
          {{errName}}
        </div>
      </ng-container>
   
</ng-container>
