<div [formGroup]="FormGropText">
    <label [for]="'validationServer01'+FromControlNameText">{{labelText}}</label>
    <input type="text" [formControlName]="FromControlNameText" [class]="styleText" [id]="'validationServer01'+FromControlNameText"/>

    <ng-container *ngIf="!inputValidity">
        <div class="valid-feedback">
            appropriate
          </div>
    </ng-container>

    <ng-container *ngIf="inputValidity">
        <div class="invalid-feedback">
            {{errName}}
          </div>
    </ng-container>
    
</div>

