<div class="container mt-3">
    <ng-container [formGroup]="university">
        <div class="row">
            <div class="col-md-12">
                <app-cust-text [maxTextLength]="45"
                    [styleText]="university.get('uname')?.touched?getFormValidity(university,'uname','required',false)?'form-control is-invalid':'form-control is-valid':'form-control'"
                    [FormGropText]="university" [FromControlNameText]="'uname'"
                    [inputValidity]="getFormValidity(university,'uname','required',false)" [errName]="'required'"
                    [labelText]="'University Name'"></app-cust-text>

            </div>

            <ng-container formArrayName="department">
                <ng-container *ngFor="let depart of department.controls;let i=index;" [formGroupName]="i">
                    <div class="col-md-6 mt-3">
                        <app-cust-text [maxTextLength]="45" [FormGropText]="depart" [FromControlNameText]="'dname'"
                            [styleText]="depart?.get('dname')?.touched?getFormValidity(depart,'dname','required',false)?'form-control is-invalid':'form-control is-valid':'form-control'"
                            [inputValidity]="getFormValidity(depart,'dname','required',false)" [errName]="'required'"
                            [labelText]="'Department'"></app-cust-text>

                        <div class="col-md-12 mt-3"></div>
                        <ng-container formArrayName="students">

                            <ng-container *ngFor="let s of students(i).controls;let j=index" [formGroupName]="j">

                                <div class="col-md-3">
                                    <app-cust-text [maxTextLength]="45" [styleText]="'form-control'" [FormGropText]="s"
                                        [FromControlNameText]="'firstname'"
                                        [styleText]="s?.get('firstname')?.touched?getFormValidity(s,'firstname','required',false)?'form-control is-invalid':'form-control is-valid':'form-control'"
                                        [inputValidity]="getFormValidity(s,'firstname','required',false)"
                                        [errName]="'required'" [labelText]="'First Name'">
                                    </app-cust-text>
                                </div>

                                <div class="col-md-3">
                                    <app-cust-text [maxTextLength]="45" [styleText]="'form-control'" [FormGropText]="s"
                                        [FromControlNameText]="'lastname'"
                                        [styleText]="s?.get('lastname')?.touched?getFormValidity(s,'lastname','required',false)?'form-control is-invalid':'form-control is-valid':'form-control'"
                                        [inputValidity]="getFormValidity(s,'lastname','required',false)"
                                        [errName]="'required'" [labelText]="'Last Name'"></app-cust-text>
                                </div>

                                <div class="col-md-3">
                                    <app-cust-text [maxTextLength]="45" [styleText]="'form-control'" [FormGropText]="s"
                                        [FromControlNameText]="'email'"
                                        [styleText]="s?.get('email')?.touched?getFormValidity(s,'email','required',false)?'form-control is-invalid':'form-control is-valid':'form-control'"
                                        [inputValidity]="getFormValidity(s,'email','required',false)"
                                        [errName]="'required'" [labelText]="'Email'"></app-cust-text>
                                </div>


                                <div class="col-md-12 mt-3">
                                    <app-cust-radio [FormGropText]="s" [FromControlNameText]="'gender'"
                                        [styleText]="s?.get('gender')?.touched?getFormValidity(s,'gender','required',false)?'form-check-input is-invalid':'form-check-input is-valid':'form-check-input'"
                                        [inputValidity]="getFormValidity(s,'gender','required',false)"
                                        [errName]="'required'" [labelText]="'Gender'"
                                        [rdArr]="genderArr"></app-cust-radio>
                                </div>


                                <div class="col-md-12 mt-3">
                                    <app-cust-checkbox [FormGropText]="s" [FromControlNameText]="'language'"
                                        [styleText]="this.getChkBoxtounchedControlsC(s,'language')?s.get('language')?.hasError('selectCheckbox')?'form-check-input is-invalid':'form-check-input is-valid':'form-check-input'"
                                        [errName]="'required'" [valProp]="'value'" [touchedProp]="'touched'"
                                        [selectProp]="'selected'"
                                        [inputValidity]="s.get('language')?.hasError('selectCheckbox')?true:false"
                                        [touchedValidity]="this.getChkBoxtounchedControlsC(s,'language')"></app-cust-checkbox>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <app-cust-dropdown [FormGropText]="s" [FromControlNameText]="'country'"
                                        [styleText]="s?.get('country')?.touched?getFormValidity(s,'country','required',false)?'form-select is-invalid':'form-select is-valid':'form-select'"
                                        [dataArr]="countryArr" [labelText]="'Country'"
                                        [inputValidity]="getFormValidity(s,'country','required',false)"
                                        [errName]="'required'">
                                    </app-cust-dropdown>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <app-cust-multi-select-filter [FormGropText]="s" [FromControlNameText]="'topics'"
                                        [styleText]="s?.get('topics')?.touched?getFormValidity(s,'topics','required',false)?'form-control is-invalid':'form-control is-valid':'form-control'"
                                        [inputValidity]="getFormValidity(s,'topics','required',false)" [errName]="'required'"
                                        [labelText]="'Topics'"
                                        [globalValueArr]="getTopicArr()"></app-cust-multi-select-filter>
                                </div>




                                <ng-container formArrayName="subject">


                                    <ng-container *ngFor="let sub of subjects(i,j).controls;let k=index;"
                                        [formGroupName]="k">
                                        <div class="col-md-3 mt-3">
                                            <app-cust-text [maxTextLength]="45" [styleText]="'form-control'" [FormGropText]="sub"
                                                [FromControlNameText]="'subname'"
                                                [styleText]="sub.get('subname')?.touched?getFormValidity(sub,'subname','required',false)?'form-control is-invalid':'form-control is-valid':'form-control'"
                                                [inputValidity]="getFormValidity(sub,'subname','required',false)"
                                                [errName]="'required'" [labelText]="'Subject'"></app-cust-text>
                                        </div>

                                        <div class="col-md-3 mt-3">
                                            <button class="btn btn-primary" (click)="addSubjects(i,j)" *ngIf="k===0">Add
                                                Subjects</button>
                                        </div>
                                        <div class="col-md-3 mt-3">
                                            <button class="btn btn-primary" (click)="removeSubject(i,j,k)"
                                                *ngIf="k!==0">Remove Subjects</button>
                                        </div>
                                    </ng-container>

                                </ng-container>

                                <div class="col-md-3 mt-3">
                                    <button class="btn btn-primary" (click)="addStudent(i)" *ngIf="j===0">Add
                                        Student</button>
                                </div>

                                <div class="col-md-3 mt-3">
                                    <button class="btn btn-primary" (click)="removeStudent(i,j)" *ngIf="j!==0">Remove
                                        Student</button>
                                </div>


                            </ng-container>

                        </ng-container>
                    </div>

                    <div class="col-md-3 mt-4" *ngIf="i===0">
                        <button class="btn btn-primary mt-3" (click)="addDepartment()">Add Department</button>
                    </div>

                    <div class="col-md-3 mt-4" *ngIf="i!==0">
                        <button class="btn btn-primary mt-3" (click)="removeDepartment(i)">Remove Department</button>
                    </div>

                </ng-container>
            </ng-container>


            <div class="col-md-12 mt-3">
                <button type="button" class="btn btn-primary" (click)="saveUniversity()">Save Form</button>
            </div>
        </div>

    </ng-container>
</div>