<div class="container mt-3">
    <ng-container [formGroup]="university">
        <div class="row">
            <div class="col-md-12">
                <app-cust-text
                    [styleText]="university.get('uname')?.touched?getFormValidity(university,'uname','required')?'form-control is-invalid':'form-control is-valid':'form-control'"
                    [FormGropText]="university" [FromControlNameText]="'uname'"
                    [inputValidity]="getFormValidity(university,'uname','required')" [errName]="'required'"
                    [labelText]="'University Name'"></app-cust-text>

            </div>

            <ng-container formArrayName="department">
                <ng-container *ngFor="let depart of department.controls;let i=index;" [formGroupName]="i">
                    <div class="col-md-6 mt-3">
                        <app-cust-text
                            [FormGropText]="depart" [FromControlNameText]="'dname'"
                            [styleText]="depart?.get('dname')?.touched?getFormValidity(depart,'dname','required')?'form-control is-invalid':'form-control is-valid':'form-control'"
                            [inputValidity]="getFormValidity(depart,'dname','required')" [errName]="'required'"
                            [labelText]="'Department'"></app-cust-text>

                        <div class="col-md-12 mt-3"></div>
                        <ng-container formArrayName="students">

                            <ng-container *ngFor="let s of students(i).controls;let j=index" [formGroupName]="j">

                                <div class="col-md-3">
                                    <app-cust-text [styleText]="'form-control'" 
                                    [FormGropText]="s"
                                    [FromControlNameText]="'firstname'"
                                    [styleText]="s?.get('firstname')?.touched?getFormValidity(s,'firstname','required')?'form-control is-invalid':'form-control is-valid':'form-control'"
                                    [inputValidity]="getFormValidity(s,'firstname','required')" [errName]="'required'"
                                    [labelText]="'First Name'">
                                </app-cust-text>
                                </div>

                                <div class="col-md-3">
                                    <app-cust-text [styleText]="'form-control'"
                                    [FormGropText]="s"
                                    [FromControlNameText]="'lastname'"
                                    [styleText]="s?.get('lastname')?.touched?getFormValidity(s,'lastname','required')?'form-control is-invalid':'form-control is-valid':'form-control'"
                                    [inputValidity]="getFormValidity(s,'lastname','required')" [errName]="'required'"
                                    [labelText]="'Last Name'"></app-cust-text>
                                </div>

                                <div class="col-md-3">
                                    <app-cust-text [styleText]="'form-control'"
                                    [FormGropText]="s"
                                    [FromControlNameText]="'email'"
                                    [styleText]="s?.get('email')?.touched?getFormValidity(s,'email','required')?'form-control is-invalid':'form-control is-valid':'form-control'"
                                    [inputValidity]="getFormValidity(s,'email','required')" [errName]="'required'"
                                    [labelText]="'Email'"></app-cust-text>
                                </div>
                                <div class="col-md-12"></div>
                                <ng-container formArrayName="subject">


                                    <ng-container *ngFor="let sub of subjects(i,j).controls;let k=index;"
                                        [formGroupName]="k">
                                        <div class="col-md-3">
                                            <app-cust-text [styleText]="'form-control'"
                                            [FormGropText]="sub"
                                            [FromControlNameText]="'subname'"
                                            [styleText]="sub.get('subname')?.touched?getFormValidity(sub,'subname','required')?'form-control is-invalid':'form-control is-valid':'form-control'"
                                            [inputValidity]="getFormValidity(sub,'subname','required')" [errName]="'required'"
                                            [labelText]="'Subject'"></app-cust-text>
                                        </div>

                                        <div class="col-md-3 mt-3">
                                            <button class="btn btn-primary" (click)="addSubjects(i,j)" *ngIf="i===k">Add
                                                Subjects</button>
                                        </div>
                                        <div class="col-md-3 mt-3">
                                            <button class="btn btn-primary" (click)="removeSubject(i,j,k)"
                                                *ngIf="i!==k">Remove Subjects</button>
                                        </div>
                                    </ng-container>

                                </ng-container>

                                <div class="col-md-3 mt-3">
                                    <button class="btn btn-primary" (click)="addStudent(i)" *ngIf="j===0">Add
                                        Student</button>
                                </div>

                                <div class="col-md-3 mt-3">
                                    <button class="btn btn-primary" (click)="removeStudent(i,j)" *ngIf="j!==0">Remove
                                        Student</button>
                                </div>


                            </ng-container>

                        </ng-container>
                    </div>

                    <div class="col-md-3 mt-4" *ngIf="i===0">
                        <button class="btn btn-primary mt-3" (click)="addDepartment()">Add Department</button>
                    </div>

                    <div class="col-md-3 mt-4" *ngIf="i!==0">
                        <button class="btn btn-primary mt-3" (click)="removeDepartment(i)">Remove Department</button>
                    </div>

                </ng-container>
            </ng-container>


            <div class="col-md-12 mt-3">
                <button type="button" class="btn btn-primary" (click)="saveUniversity()">Save Form</button>
            </div>
        </div>

    </ng-container>
</div>