<div [formGroup]="FormGropText">
    <label [for]="'validationServer01'+FromControlNameText">{{labelText}}</label>
    <input type="text" [class]="styleText" #mutiInput [formControlName]="FromControlNameText" (click)="isDropdownActive=!isDropdownActive;" [id]="'validationServer01'+FromControlNameText" [readonly]="true"/>
    <ng-container *ngIf="isDropdownActive">
        <div  class="multi-drop-down shadow-lg p-3 mb-5 bg-body rounded">
        <input type="text" #filterTxt class="form-control" placeholder="Search Topics..." (keyup)="filterMultiSelectValue(FormGropText,FromControlNameText)"/>
        <ng-container *ngFor="let mul of this.multiArr;let multIndex=index">
            <div class="form-check" (click)="selectCheckbox(FormGropText,FromControlNameText,mul.value)">
                <input type="checkbox" class="form-check-input" [checked]="mul.selected" [autofocus]="isDropdownActive"/>
                <label class="form-check-label">{{mul?.text}}</label>
            </div>
        </ng-container>
    </div>
    </ng-container>

    <ng-container *ngIf="!inputValidity">
        <div class="valid-feedback">
            appropriate
          </div>
    </ng-container>

    <ng-container *ngIf="inputValidity">
        <div class="invalid-feedback">
            {{errName}}
          </div>
    </ng-container>
</div>