<div [formGroup]="FormGropText">
    <label [for]="'validationServer01'+FromControlNameText">{{labelText}}</label>
    <input type="text" [class]="styleText" #mutiInput [formControlName]="FromControlNameText" (click)="isDropdownActive=!isDropdownActive" [id]="'validationServer01'+FromControlNameText" [readonly]="true"/>
    <ng-container *ngIf="isDropdownActive">
        <div class="mt-3">
        <input type="text" #filterTxt class="form-control" placeholder="Search Topics..." (keyup)="filterMultiSelectValue(FormGropText,FromControlNameText)" />
        <ng-container *ngFor="let mul of this.multiArr;let multIndex=index">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" [checked]="mul.selected" (change)="selectCheckbox(FormGropText,FromControlNameText,mul.value)"/>
                <label class="form-check-label" (click)="selectCheckbox(FormGropText,FromControlNameText,mul.value)">{{mul?.text}}</label>
            </div>
        </ng-container>
    </div>
    </ng-container>

    <ng-container *ngIf="!inputValidity">
        <div class="valid-feedback">
            appropriate
          </div>
    </ng-container>

    <ng-container *ngIf="inputValidity">
        <div class="invalid-feedback">
            {{errName}}
          </div>
    </ng-container>
</div>