<ng-container>
    <input type="text" class="form-control" #mutiInput (click)="isDropdownActive=!isDropdownActive" placeholder="select" [value]="this.ddValue">
    <ng-container *ngIf="isDropdownActive">
        <div class="mt-3">
        <input type="text" #filterTxt class="form-control" placeholder="filter" (keyup)="filterMultiSelectValue()" />
        <ng-container *ngFor="let mul of this.multiArr;let multIndex=index">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" [checked]="mul.selected" (change)="selectCheckbox(mul.value)"/>
                <label class="form-check-label">{{mul?.text}}</label>
            </div>
        </ng-container>
    </div>
    </ng-container>
</ng-container>